* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
  word-wrap: break-word;
}

:root {
  --font-black: #515456;
  --gradient-1: #b6fbff;
  --gradient-2: #83a4d4;
  --title-cycling-bg: #fdbf9b;
  --title-running-bg: #a1c1f2;
  --form-padding: 0.8rem 1rem;
}
html {
  font-size: 62.5%;
}

/* Mapty Container */
.mapty-container {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  display: flex;
}

#map {
  /* width: 65%; */
  flex: 1;
}

.workouts {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(33deg, var(--gradient-1), var(--gradient-2) 80%);
  padding: 2rem 3rem;
  gap: 2rem;
}

.workouts img {
  height: 7rem;
}

/* Workout form section */
form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3rem;
  width: 100%;
  height: auto;
  background-color: #fcefef;
  padding: 1.5rem;
  border-radius: 4px;
  border-left: 5px solid #ffc4c4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: relative;
  transition: all 0.8s;
  z-index: 1;
  overflow: hidden;
}

.hidden {
  transform: translateY(-30rem);
  height: 0;
  opacity: 0;
  padding: 0;
}
.workout-form input,
.workout-form select,
.workout-form label {
  padding: var(--form-padding);
  border: 1px solid transparent;
  color: var(--font-black);
  font-size: 1.6rem;
  text-align: center;
  transition: all 0.5s;
  width: 50%;
}
.workout-form input,
.workout-form select {
  border: 1px solid transparent;
  background-color: #fff;
  width: 50%;
  cursor: pointer;
}
.workout-form label {
  background: linear-gradient(33deg, #ff938b, #ffab81d1);
  color: #fff;
}

.workout-form input[type="date"] {
  text-align: start;
}

.workout-form {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.workout-form:nth-child(1) {
  grid-area: 1/1/2/5;
}

.workout-form:nth-child(2) {
  grid-area: 2/1/3/3;
}

.workout-form:nth-child(3) {
  grid-area: 2/3/3/5;
}
.workout-form:nth-child(4) {
  grid-area: 3/1/4/3;
}

.workout-form:nth-child(5) {
  grid-area: 3/3/4/5;
}
.workout-form:nth-child(6) {
  grid-area: 4/1/5/5;
}

::placeholder {
  color: #5d5c5c;
  font-size: 1.6rem;
}

form input:focus,
form select:focus {
  outline: none;
  color: var(--font-black);
}

.workout-form .btn {
  padding: 1rem;
  font-size: 1.6rem;
}
.workout-form .btn-add {
  background-color: #8bb2ec;
  width: 70%;
  margin-right: 2%;
}

.workout-form .btn-close {
  width: 28%;
  background-color: #ffec99;
  color: #626567;
  border: 1px solid #e5e1e1;
}

.btn {
  border: none;
  padding: 0.5rem;
  color: #fdf9f9;
  border-radius: 4px;
  background-color: #f6897d;
  cursor: pointer;
  font-weight: 600;
  z-index: 10;
}

/* Workout Section */
.workout-list {
  display: none;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  flex: 1;
  background-color: #fff;
  border-radius: 4px;
  padding: 2rem;
  overflow-y: scroll;
  position: relative;
  transition: all 0.5s;
}

.workout-list::-webkit-scrollbar {
  width: 0;
}

.workout-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0rem 1.5rem 1rem;
  border-bottom: 1px solid #7271717c;
}

.workout-heading p {
  font-size: 2rem;
  color: rgb(68, 67, 67);
}
.workout-items {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  transition: all 0.5s;
}
.workout-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  font-size: 2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s;
}

.workout-item.cycling {
  box-shadow: 2px 2px 0 1px #efdfd4;
}

.workout-item.running {
  box-shadow: 2px 2px 0 1px #dbe8fc;
}

.workout-item.selected {
  transform: scale(0.8);
  box-shadow: 0px 0px 0 6px #caf8e4;
}
.workout-title {
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-size: 1.8rem;
}

.workout-title.running {
  background-color: var(--title-running-bg);
}

.workout-title.cycling {
  background-color: var(--title-cycling-bg);
}

.workout-title .close-btn,
.workout-title .edit-btn {
  opacity: 0.8;
  font-size: 1.8rem;
  cursor: pointer;
  background: none;
  border: none;
  padding-left: 1rem;
}

.workout-item ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  padding: 1.3rem;
  list-style: none;
  color: rgb(85, 84, 84);
}

/* welcome-container */
.welcome-container {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.workout-type {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.workout-type p {
  background-color: #fff;
  padding: 1rem 1.3rem;
  border-left: 10px solid #fdc7b8;
  border-radius: 4px;
  font-size: 2.2rem;
  color: var(--font-black);
  font-weight: 600;
}

.workout-type span {
  font-size: 2rem;
  font-weight: 600;
  color: #f3f3f3;
}

.welcome-container .mapty {
  font-size: 4rem;
  padding: 0rem 3rem;
  font-weight: 800;
  text-align: center;
  word-wrap: break-word;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.4;
}
.welcome-container .mapty span {
  background-color: #f6a4a4;
  border-radius: 50px;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 60%;
  padding: 0.5rem 1rem;
  padding-left: 3rem;
}
.welcome-container .click-map {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  color: #fff;
}

.welcome-container .click-map span {
  color: #fff;
  background-color: #f6a4a4;
  padding: 0.3rem 1rem;
  border-radius: 50px;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 70%;
}

/* errMsg */
.errMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 80%;
  position: absolute;
  background: linear-gradient(33deg, var(--gradient-1), var(--gradient-2));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 5px;
  transition: all 0.5s;
  box-shadow: 0 0 5px 70px rgba(55, 54, 54, 0.158);
  opacity: 1;
  z-index: 2;
}

.opacity {
  transform: scale(0.4), skew(20deg);
  opacity: 0;
  z-index: -1;
}

.errMsg ul {
  font-size: 1.5rem;
  line-height: 1.5;
  list-style: none;
  color: #ffffff;
}

.errMsg ul li {
  font-family: sans-serif;
  font-weight: 600;
}
.errMsg span {
  background-color: #f9f4f0;
  padding: 1rem;
  border-radius: 40%;
  cursor: pointer;
  color: #df7f5c;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Empty workout*/
.emptyMsg {
  display: none;
  font-size: 1.6rem;
  padding: 5rem;
  text-align: center;
  line-height: 1.8;
  color: var(--font-black);
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* pop up */
.leaflet-popup .leaflet-popup-content-wrapper {
  color: #fff;
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.8rem;
  font-family: monospace;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: #fffcfc;
}
.leaflet-popup-content-wrapper,
.popup .leaflet-popup-content-wrapper {
  border: 2px solid #fff;
  border-left: 18px solid #fff;
  background-color: #9dd2ee;
}

.popup-cycling .leaflet-popup-content-wrapper {
  color: #fff;
  border: 2px solid #fff;
  border-left: 18px solid #fff;
  background-color: var(--title-cycling-bg);
}

.popup-running .leaflet-popup-content-wrapper {
  border: 2px solid #fff;
  border-left: 18px solid #fff;
  background-color: var(--title-running-bg);
}

/* media query */
@media (min-width: 1250px) and (max-width: 1400px) {
  :root {
    font-size: 55%;
  }
}

@media (max-width: 1250px) {
  :root {
    font-size: 52%;
    --form-padding: 0.8rem 0.69rem;
  }
}

@media (max-width: 1110px) {
  :root {
    font-size: 50%;
  }

  .workouts {
    width: 40%;
  }
}

@media (max-width: 900px) {
  :root {
    font-size: 55%;
  }
  .mapty-container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  #map {
    width: 100%;
    height: 50vh;
  }

  .workouts {
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .workouts img {
    grid-area: 1/1/2/5;
    align-self: center;
    margin: auto;
    height: 7rem;
  }

  form {
    grid-area: 2/3 / auto/5;
    height: 100%;
  }

  .workout-list {
    grid-area: 2/1 / auto/3;
    height: 100%;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 45%;
    --form-padding: 0.8rem 0.5rem;
  }
  form {
    gap: 0rem;
  }
}

@media (max-width: 615px) {
  :root {
    font-size: 40%;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 40%;
  }
}

@media (max-width: 520px) {
  :root {
    font-size: 45%;
  }

  .mapty-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .workouts {
    height: 60vh;
    width: 100%;
    display: flex;
    padding: 2rem 5rem;
  }

  form {
    height: 45%;
  }

  #map {
    flex: 1;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 40%;
    --form-padding: 1rem 1rem;
  }

  form {
    height: auto;
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }

  .workout-form .btn {
    padding: 1rem;
    word-break:break-all;
  }
}
